.mlb-games, .mlb-standings {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}
.mlb-games td, .mlb-standings td {
  padding: 4px;
  vertical-align: middle;
}
.mlb-games img, .mlb-standings img {
  width: 24px;
  height: 24px;
}
.mlb-games td:nth-child(6) {
  text-align: right;
  font-size: 0.8em;
  color: #999;
}
